.equipoLabel {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.equipoLabel label {
  display: flex;
  color: cornflowerblue;
  line-height: 16px;
  align-items: center;
  text-align: left;
  font-size: 18px;
}

.equipoLabel input {
  color: #6495ed;
  width: 100%;
  background-color: white;
  outline-color: blueviolet;
  border: none;
  border-bottom: 1px solid cornflowerblue;
  outline: none;
  box-sizing: border-box;
}

.equipoLabel select {
  font-size: 18px;
  color: #6495ed;
  padding: 5px 4px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid cornflowerblue;
  outline-color: #6495ed;
}

@media (max-width: 768px) {
  .equipoLabel {
    display: flex;
    flex-direction: column;
  }

  .equipoLabel label {
    display: flex;
    margin: 0;
    width: 80%;
  }
}
